.DS_Store
.vscode
.env
.venv
.swp
dist
build
.cache
.gocache
*.exe
.idea
test_data
*.crt
__debug_bin*
llama/build
llama/vendor
/ollama
/temp_server*
/run_log*
/run_test.log
/build_log.txt
/*.exe.backup
/*.bat.backup
/llama-ai*
/dist
/build
/updater/
